use Mix.Config

config :logger,
  backends: [
    {LoggerFileBackend, :debug},
    {LoggerFileBackend, :info},
    {LoggerFileBackend, :error}
  ]

config :logger, :debug, path: "log/debug.log", level: :debug
config :logger, :info, path: "log/info.log", level: :info
config :logger, :error, path: "log/error.log", level: :error
